<main class="form-signin col-8 col-sm-7 col-md-6 col-lg-5 col-xl-4 mx-auto">
    <form method="POST">
        <div class="form-floating mt-4">
            <a href="../../index.html"><img class="mt-4"
                    src="/asset/img/logo.png"
                    alt="EasyThread logo" width="72" height="57"></a>
            <h1 class="h3 mb-3">Password reset</h1>
        </div>
        <p class="mb-4 text-danger">{{message}}</p>
        <div class="form-floating mt-2">
            <input type="email" class="form-control" name="email" id="floatingInput" placeholder="youremail@example.com"
                required>
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mt-2">
            <input type="password" class="form-control" name="newPassword" id="floatingPassword" pattern=".{8,}"
                title="Eight or more characters" placeholder="Your new password" required>
            <label for="floatingPassword">New password</label>
        </div>
        <div class="form-floating mt-2">
            <input type="password" class="form-control" name="confirmPassword" id="floatingPassword" pattern=".{8,}"
                title="Eight or more characters" placeholder="Your confirm password" required>
            <label for="floatingPassword">Confirm password</label>
        </div>
        <button class="mt-4 w-100 btn btn-lg btn-dark" type="submit" onclick="">Reset password</button>
    </form>
</main>

<script>
    event.preventDefault();
</script>